:root {
  --primary-color: #09B056;
  --secondary-color: #ADFFD2;
  --primary-dark: #252525;
}

.primary-color {
  color: var(--primary-color);
}

.secondary-color {
  color: var(--secondary-color);
}

.primary-dark {
  color: var(--primary-dark);
}

/* Untuk background color */
.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--secondary-color);
}

.bg-primary-dark {
  background-color: var(--primary-dark);
}

.section-background {
  background-image: url('banner.png');
}